.prayers {
  padding: 20px;
}

.prayers .prayer {
  margin: 20px;
}

.prayers .prayer .preamble {
  font-style: italic;
}

.prayers .prayer .body {
  text-align: justify;
  resize: vertical;
  min-height: 150px;
}

.prayers .prayer .author {
}

.prayers .prayer .author input {
}

.prayer .preamble, .prayer .body, .prayer .author {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: #f9f9f9;
  border: 2px solid #aaa;
  font-size: 18px;
  font-family: Helvica;
}

.prayer button {
  margin-bottom: 15px;
}